@charset "utf-8";

/* total */
* {
    box-sizing: border-box;
}

blockquote, body, button, code, dd, 
div, dl, dt, fieldset, form, h1, h2, 
h3, h4, h5, h6, input, legend, li, ol, 
p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

/* The header style */
.div{
    display: block;
}

/* body style */
body {
    width: 100vw;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../picture/backGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px); 
    z-index: -1; 
}

/* logo style */
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 0px;
    overflow: hidden;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-link {
    text-align: center;
    width: 72px;
    height: 42px;
    background: url(../picture/O1CN01VkWizS1ewHUFhOIIi_!!196993935.jpg) no-repeat center;
    background-size: contain;
}

/* log in style */
.loginContainer {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.loginContainer h1 {
    color:#000000;
    text-align: center;
}

input[type="text"],input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #76c63d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 15px;
    height: 20px;
}

.sign-up {
    text-align: right;
    margin-bottom: 10px;
}

.sign-up :hover, .forgot-password :hover{
    color:rgb(180, 42, 222)
}

.forgot-password {
    text-align: right;
    margin-bottom: 10px;
}
